[run]
source = services,libs
omit =
    tests/*
    **/tests/*
    **/test_*
    **/*_test.py
    **/conftest.py
    **/mocks/*

[report]
fail_under = 80
show_missing = true
exclude_lines =
    pragma: no cover
    def __repr__
    if TYPE_CHECKING:
    raise NotImplementedError
    pass

[html]
directory = htmlcov
